// Breakpoints
$max-xs: 575px;
$min-sm: 576px;
$max-sm: 767px;
$min-md: 768px;
$max-md: 991px;
$min-lg: 992px;
$max-lg: 1199px;
$min-xl: 1120px;

// Colors
$light: #F5F5F5;
$dark: #333;
$light-outline: #c5c5c5;
$dark-outline: #808080;

// Contextual Colors
$context-primary: #007bff;
$context-success: #28a745;
$context-warning: #ffc107;
$context-danger: #dc3545;
$context-secondary: #6c757d;